build_script:
- cmd: powershell .\build.ps1

#test_script:
#- ps: if ($env:windir -and $isWindows -ne $true) { throw '$isWindows is not defined'; }
#- ps: if ($env:windir -and $isLinux -ne $false) { throw '$isLinux is not defined'; }

#build: off
